# ==========================================
# 1. HASIL BUILD & FILE BINER (JANGAN DI-UPLOAD)
# ==========================================
[Bb]in/
[Oo]bj/
[Pp]ublish/
publish_latest/
update_publish.ps1
out/

# ==========================================
# 2. CACHE IDE & PENGATURAN LOKAL DEVELOPER
# ==========================================
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosv
*.sln.docstates
*.userprefs

# ==========================================
# 3. FILE LOG, CRASH DUMPS & SEMENTARA
# ==========================================
*.tmp
*.log
*.crash
*.diagnostic*
CrashDumps/

# ==========================================
# 4. FILE SAMPAH SISTEM WINDOWS
# ==========================================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ==========================================
# 5. DOKUMENTASI INTERNAL (HANYA README.MD YANG DI-UPLOAD)
# ==========================================
*.md
!README.md
!readme.md

